<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- <setting name="aggressiveLazyLoading" value="false"/> -->
  </settings>
  <typeAliases>
    <package name="com.abc.test"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler jdbcType="VARCHAR" javaType="string" handler="com.abc.test.handler.CustomStringHandler"/>
  </typeHandlers>
  <!--插件-->
  <plugins>
    <plugin interceptor="com.abc.test.plugin.ThresholdInterceptor">
      <property name="threshold" value="10000"/>
    </plugin>
    <plugin interceptor="com.abc.test.plugin.PageInterceptor"/>
  </plugins>
  <!-- 定义数据库的信息，默认使用development数据库构建环境 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://47.92.1.153:3307/detection"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 定义映射器 -->
  <mappers>
    <package name="com.abc.test.mapper"/>
  </mappers>
</configuration>
